* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
html, body {
	margin: 0;
	padding: 0;
	font: 16px/1.4 'Lato', sans-serif;
	color: #fefeff;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}
body {
	background: rgb(8,5,5);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#canvas {
	position: absolute;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	cursor: none;
}
#stats {
	position: absolute;
	z-index: 10;
	left: 10px;
	top: 10px;
}
.dg.ac {
	z-index: 100 !important;
}
